{% extends "base.html" %}

{% block title %}
register page
{% endblock %}

{% block content %}
<form action="/register" method="post">
            <!-- Email input -->
            <div class="mb-3">
                <label for="exampleInputUsername" class="form-label">username</label>
                <input type="username" class="form-control" id="exampleInputusername" name="username" aria-describedby="usernameHelp" placeholder="Enter Username">
                <div id="usernameHelp" class="form-text">We'll never share your username with anyone else.</div>
            </div>

            <!-- Password input -->
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Enter password" required>
            </div>

            <!-- Checkbox -->
            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>
            
            <!-- Submit button -->
            <button type="submit" class="btn btn-primary">Register</button>    
        </form>
{% endblock%}